.align-right {
    justify-content: end;
}

.btn2 {
    margin-right: 10px;
}

.heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar { 
    position: fixed;
    z-index: 0;
}

.logo{
    width:6em;
    height:2em;
}
