<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="logo" src="../../../assets/images/amazon logo.webp" alt="Hyperlocal.img" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-right" id="navbarSupportedContent">
      <div class="d-flex">
        <button class="btn btn-outline-light btn2" type="submit"(click)="openSignupDialog()">Sign Up</button>
        <button class="btn btn-outline-light btn2" type="submit"(click)="openLoginDialog()">Login</button>
      </div>
    </div>
  </div>
</nav>
<div>
  <img style="height: 100%; width:100%" class="img-fluid" src="../../../assets/images/amazon image.jpg" alt="Hyperlocal.img" />
</div>
