.flex-row {
  position: relative;
  border: 1px solid skyblue;
  border-radius: 10px;
  width: 400px;
  padding: 3%;
}

.closeBtn {
  border:none;
  background-color: white;
  position: absolute;
  top: 5%;
  right: 5%;
}

.input-field {
  margin-bottom: 35px;
  position: relative;
}

.icon-span {
  position: absolute;
  left: 3%;
}

input {
  margin-left: 10%;
  width: 280px;
  border: none;
  box-shadow: none !important;
}

input:active {
  border: none;
}

.errMsg {
  position: absolute;
  top: 100%;
}
